* {
  box-sizing: border-box;
}

img {  
   -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.read-only {
	background-color: #fdc8d1;
}

table {
  width: 100%;
  border: 1px solid #ddd;
}

th {
  text-align: left;
  padding: 8px;
  background-color: #f83053;
  color: #ffffff;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #e0e0e0}

.mtoast {
  /* (A1) POSITION */
  position: fixed;
  top: 5px; right: 5px;
  display: none;
  /* (A2) DIMENSION */
  width: auto;
  padding: 10px;
  /* (A3) COLORS */
  background: #232323;
  color: #ffffff;
  border-radius: 10px;
  cursor: default;
  font-size: 17px;
}

.mtoast2 {
  /* (A1) POSITION */
  position: fixed;
  top: 5px; right: 5px;
  /* (A2) DIMENSION */
  width: auto;
  padding: 10px;
  /* (A3) COLORS */
  background: #232323;
  color: #ffffff;
  border-radius: 10px;
  cursor: default;
  font-size: 17px;
}

.errorMessage {
	font-family: Perpetua;
	font-size: 120%;
}

.single-error {
	padding-bottom: 40px;
}

.errorMsgDiv {
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 25px;
}

.close {
	padding-top: 3px;
	cursor: pointer;
}

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.click-here {
	font-family: sans-serif;
	font-style: italic;
	font-size: 120%;
	font-weight: bold;
	color: #685e61;
}

.home-refresh {
	padding-bottom : 8px;
	
}

button {
   background-color: #f83053;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
	background-color: #bf0626;
}

input[type=submit] {
  background-color: #f83053;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #bf0626;
}

input[type=reset] {
  background-color: #f83053;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

input[type=reset]:hover {
  background-color: #bf0626;
}

input[type=date] {
  width: 22%; 
  padding: 9px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
}

input[type=radio], input[type=checkbox] {
  margin-top: 13px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type=radio], input[type=checkbox] {
    margin-top: 0;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type=reset] {
    width: 100%;
    margin-top: 5px;
    margin-right: 0px;
  }
}